.local/
.env
.DS_Store
backend/.gradle/
backend/build/
backend/generated/.openapi-generator/
flutter/.dart_tool/
flutter/build/
flutter/.flutter-plugins-dependencies
flutter/.idea/
**/*.iml

backend/generated/*
!backend/generated/src/
flutter/packages/recycle_gang_api/.openapi-generator/
flutter/packages/recycle_gang_api/*
!flutter/packages/recycle_gang_api/lib/
!flutter/packages/recycle_gang_api/pubspec.yaml
!flutter/packages/recycle_gang_api/pubspec.lock
!flutter/packages/recycle_gang_api/build.yaml
